.container {
    max-width: 90%;
    border: 2px black solid;
    border-radius: 4px;
    background-color: #d5d5d5;
    align-items: center;
  
    position: relative;
    top: 4%;
    bottom: 10%;
    margin-top: 10px;
    left: 5%;
    right: 5%;
  }

  .computers{
    max-width: 90%;
    height: 100%;
    border: 2px black solid;
    border-radius: 4px;
    background-color: #afafaf;
  
    position: relative;
    top: 4%;
    bottom: 10%;
    margin-top: 10px;
    left: 5%;
    right: 5%;
  }

  .icon{
    float: right;
    color: black;
  }

  .flex {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 16px;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .buttons{
    position: absolute;
    bottom: 8%;
    right: 8px;
    float: right;
    display: flex;
    flex-direction: column;

  }

h1 {
  margin-left: 10px;
}