.container {
    max-width: 90%;
    border: 2px black solid;
    border-radius: 4px;
    background-color: #d5d5d5;
    align-items: center;
  
    position: relative;
    top: 4%;
    bottom: 10%;
    margin-top: 10px;
    left: 4%;
    right: 4%;
  }

  .news{
    max-width: 90%;
    border: 2px black solid;
    border-radius: 4px;
    background-color: #afafaf;
  
    position: relative;
    top: 4%;
    bottom: 10%;
    margin-top: 10px;
    left: 4%;
    right: 4%;
  }

  .icon{
    float: right;
    color: black;
  }