#main-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-height: 64px;
  width: 90%;
  max-width: 1440px;
  margin: auto;
  padding: 5px 0;

  .buttons {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 15px;
    padding: 5px 0;
  }

  .button {
    margin-right: 10px;
  }

  .home {
    background-color: transparent;
  }

}
