  .container {
    max-width: 90%;
    border: 2px black solid;
    border-radius: 4px;
    background-color: #d5d5d5;
      margin: 0 auto;
      text-align: center;
  }

  .news{
    max-width: 90%;
    border: 2px black solid;
    border-radius: 4px;
    background-color: #afafaf;
  
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }