<div class="container">
    <div class="inner-container" *ngFor="let computer of computers; let i = index;">
        <h1><b>{{computer.name}}</b></h1>
        <h4>{{computer.cpu}}</h4>
        <button (click)="delete(computer.id)" class="button" type="submit" mat-raised-button>Delete</button>
        <button (click)="update(computer)" class="button" type="submit" mat-raised-button>Update</button>
        <div class="buttons">
            <button (click)="update(computer)" class="button" type="submit" style="background-color: green;" mat-raised-button>Finised</button>
            <button (click)="update(computer)" class="button" type="submit" mat-raised-button>Pending</button>
            <button (click)="update(computer)" class="button" type="submit" style="background-color: rgba(255, 0, 0, 0.425);" mat-raised-button>Refuse</button>
        </div>
    </div>
</div>